{% extends "layout.html" %}
{% block title %}Homepage{% endblock %}
{% block page %}UWI Competitions Platform{% endblock %}

{{ super() }}

{% block content %}

<script>
    $(document).ready(function(){
        $('.modal').modal();
        $('.dropdown-trigger').dropdown();
    });
</script> 

<style>

    .tooltip {
        position: relative;
        display: inline-block;
    }

    .tooltip .tooltiptext {
        visibility: hidden;
        width: 100px;
        background-color: #555;
        color: #fff;
        text-align: center;
        padding: 5px 0;
        border-radius: 6px;

        position: absolute;
        z-index: 1;
        top: -5px;
        left: 40px;

        opacity: 0;
        transition: opacity 0.3s;
    }

    .tooltip:hover .tooltiptext {
        visibility: visible;
        opacity: 1;
    }

    .tooltip .tooltiptext::after {
        content: " ";
        position: absolute;
        top: 20%;
        right: 100%; 
        margin-top: -10px;
        border-width: 10px;
        border-style: solid;
        border-color: transparent #555 transparent transparent;
    }   

    .dropdown-menu p{
        margin-top: -10px;
        font-size: 1.1em;
    }
    .dropdown-content{
        background-color: black;
        width: max-content !important;
        max-height: 300px;
        height:auto !important;
    }

    a:hover {
        background-color: #2c2c2c;
    }
    
    .alertwarning#button {
        background-color: white;
        border-radius: 10px;
    }
    .success {
        color: white;
        font-size: .9em;
        text-decoration: underline;
    }
    .error {
        color: white;
        font-size: .9em;
        text-decoration: underline;
    }
    .tables-container {
        display: flex;
        justify-content: space-between;
    }

    .leaderboard-table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }

    .leaderboard-table th,
    .leaderboard-table td {
        padding: 12px 15px;
        text-align: left;
        border-bottom: 1px solid white;
    }

    /*.leaderboard-table th {
        background-color: #f2f2f2;
        font-weight: bold;
    }

    .leaderboard-table tbody tr:nth-child(even) {
        background-color: #f2f2f2;
    }*/

    .leaderboard-table tbody tr:hover {
        background-color: black;
    }

    .leaderboard-table tbody tr td a {
        color: black;
        text-decoration: none;
        font-weight: bold;
    }

    .leaderboard-table tbody tr td a:hover {
        text-decoration: underline;
    }
</style>
<div class="container">
    <div class="tables-container">
        <div class="leaderboard-table">
            <!-- for displaying the flashed messages -->
            <div id="flashmessage" class="flashmessage">
                {% for category, message in get_flashed_messages(with_categories=true) %}
                  <div class="alert {{ category }}" role="alert">
                    <span class="message">{{ message }}</span>
                    <button type="button" class="close" onclick="closeFlash()">×</button>
                  </div>
                {% endfor %}
            </div>
            
            <center>    
                <div class = "dropdown-menu" style= "background-color: black; border-radius: 15px;">
                    <ul>
                        <li>
                            <a class="dropdown-trigger" data-target="dropdown">
                                <h2 style="color: white;">Leaderboard <i class="material-icons">arrow_drop_down</i></h2>
                            </a>
                        </li>
                    </ul>
                    
                    {% if leaderboard_id == num_leaderboard %}
                    <p style=" color: white; ">
                            Showing Most Recent Leaderboard
                    </p>
                    {% else %}
                    <p style=" color: white; ">
                        Showing Leaderboard {{ all_leaderboards[leaderboard_id-1].date.strftime("%d %b %Y") }}
                    </p>
                    {% endif %}
                    
                </div> 
                <ul id="dropdown" class="dropdown-content">
                    {% for num in range(num_leaderboard) | reverse %}
                    <li><a style = "color: white;" href="{{ url_for('index_views.leaderboard_page', leaderboard_id=num+1 ) }}">Leaderboard on: {{ all_leaderboards[num].date.strftime("%d %b %Y") }} </a></li>
                    {% endfor %}
                </ul>
            </center>

            <table class="table" style="font-family: verdana;">
                <thead>
                    <tr style="color: white;">
                        <th><center>Overall Rank</center></th>
                        <th><center>Username</center></th>
                        <th><center>Rating Score</center></th>
                    </tr>
                </thead>
                <tbody>
                    {% for ranking in leaderboard %}
                    <tr style="color: white;">
                        <td><center>{{ranking.rank}}</center></td>
                        <td>
                            <center>
                                <a style= "color: white;" href="{{url_for('index_views.student_profile_by_name', name=ranking.student.username)}}">{{ranking.student.username }}</a>
                                    <div class = "tooltip">
                                        {% if ranking.decaying %} &nbsp 
                                            <span class = "tooltiptext">{{ ranking.student.username }}'s rating is decaying</span>
                                            <i class="tiny material-icons">report_problem</i>
                                        {% endif %}
                                    </div>
                            </center>
                        </td>
                        <td><center>{{'%0.2f' % ranking.points}}</center></td> 
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class = "row">
        <ul class="pagination col s12 center">
            {% if leaderboard.prev_num %}
            <li class="waves-effect">
                <a href="{{ url_for('index_views.leaderboard_page', leaderboard_id=leaderboard_id, page=prev_num) }}"><i class="material-icons">chevron_left</i></a>
            </li>
            {% else %}
            <li class="disabled">
                <a href="#!"><i class="material-icons">chevron_left</i></a>
            </li>
            {% endif %}
            {% for page_num in leaderboard.iter_pages() %}
                {% if page_num %}
                    {% if leaderboard.page == page_num %}
                    <li class="active blue"><a href="#!">{{ page_num }}</a></li>
                    {% else %}
                    <li class="waves-effect"><a href="{{ url_for('index_views.leaderboard_page', leaderboard_id=leaderboard_id, page=page_num) }}">{{ page_num }}</a></li>
                    {% endif %}
                {% else %}
                    <li class="disabled"><a href="#!">...</a></li>
                {% endif %}
            {% endfor %}
            {% if leaderboard.has_next %}
                <li class="waves-effect">
                    <a href="{{ url_for('index_views.leaderboard_page', leaderboard_id=leaderboard_id, page=leaderboard.next_num) }}"><i class="material-icons">chevron_right</i></a>
                </li>
            {% else %}
                <li class="disabled">
                    <a href="#!"><i class="material-icons">chevron_right</i></a>
                </li>
            {% endif %}
        </ul>
    </div>
</div>
<div style="padding: 20px;"></div>
{% endblock %}
